@media (max-width: 600px) {	/* smartphone */
	html {
		font-family: "Gill Sans", sans-serif;
		background-color: #7697AB;
	}
	div{
		text-align:center;
	}
	header {
		text-align: center;
		
		padding: 3px;
	}	
	h1 {
		font-size: 20px;
	}
	#logo img{
		width: 20%;
	}
	#mainbar {
		border-top: solid 2px black;
		border-bottom: solid 2px black;
	}
	#mainbar div {
	
		padding: 2px;
	}
	#mainbar div div {
		width: fit-content;
		display: inline-flex;
		background-color: #FCBB71;
	}
	#mainbar img {
		float: right;
		width: 20px;
		height: 15px;
		position: relative;
		
	}

	#login {
		float: left;
	}
	#menubar div {
		height: fit-content;
		display: inline-table;
		margin: 10px;
		background-color: #F6C24A;

		
	}
	#menubar {
		height: fit-content;
		display: inline-table;
		background-color: #7697A8;
		border-top: solid 2px black;
		border-bottom: solid 2px black;
		margin: 7px;
	}

	#menubar div{
		text-align: center;
		
	}
	#menubar div div{
		list-style: none;
		display: none;

	} 
	
	#menubar div:hover div {
		display: inline;
		
		
		
	
	}
	#menubar div:hover div p {
		border-top: solid 1px black;
	
	}

	

	main {
		margin-top: 3px;
		text-align: center;
	

	}
	#contenu {
		
		padding: 3px;
		margin: 3px;
		
	
	}
	#contenu div {
		border: solid 1px black;
		margin: 1px;
		display: inline-table;
		width: 30%;
		background-color: #B5BABC;


	}
	#contenu div img {
		width: 100%;
	}

	footer {
		
		text-align: center;
		margin-top: 7px;
		padding: 5px; 
	}

	footer div {
		display: inline-table;
		width: 30%;
		margin: 1px;
		text-align: center;	
	}

	footer div p {
		border-top: solid 1px black;
		
	}

}



@media (min-width: 601px) {	/*tablette /ordi */
	html {
		font-family: "Gill Sans", sans-serif;
		background-color: #7697AB;
	}
	div{
		
		text-align:center;
	}

	header {
		text-align: center;
		
		padding: 3px;
	}	
	#logo img{
		width: 20%;
	}
	h1 {
		font-size: 30px;
	}
	
		div{
		margin-top: 3px;
		padding: 2px;
		text-align:center;
	}
	header {
		text-align: center;
		padding: 3px;
	}	

	#logo img{
		width: 20%;
		}

	#mainbar {
		border-top: solid 2px black;
		border-bottom: solid 2px black;
		padding: 4px;
	}
	
	#mainbar div {
		padding: 2px;
		display: inline;
	}
	
	
	#mainbar div div {
		width: fit-content;
		
		background-color: #FCBB71;
	}
	#mainbar img {
		float: right;
		width: 2%;
		position: relative;
		
	}
	#menubar div {
		height: fit-content;
		
		margin: 10px;
		background-color: #F6C24A;

		
	}
	#menubar {
		height: fit-content;
		display: inline-table;
		background-color: #7697A8;
	}

	#menubar div{
		text-align: center;
		display: inline-table;
		margin: 10px;

		
	}

	#menubar div div{
		list-style: none;
		display: none;

		
	} 
	
	#menubar div:hover div {
		display: inline;
		position: relative;
	}

	#menubar div:hover div p {
		border-top: solid 1px black;
	
	}

	div {
		text-align: center;
	}
	
	

	main {
		margin-top: 7px;
		text-align: center;
	}

	#contenu {
		
		padding: 3px;
		margin: 3px;
		
	
	}
	#contenu div {
		border: solid 1px black;
		margin: 1px;
		display: inline-table;
		width: 30%;
		background-color: #B5BABC;


	}
	#contenu  img {
		width: 100%;

	}
	#login {
		float: left;
		position: relative;
		bottom: 5px;
	}
	
	
	footer {
		
		text-align: center;
		margin-top: 7px;
		padding: 5px; 
	}
	footer div {
		display: inline-table;
		width: 30%;
		margin: 1px;
		text-align: center;
	}
	footer div p {
		border-top: solid 1px black;
		
	}


}	


	a{
		text-decoration: none;
		color: black;
	}
	button {
		background-color: #F6C24A;
	}
	

	